td{
    align:center;
}


body{
    
        background: #466368;
        background: -webkit-linear-gradient(#648880, #293f50);
        background:    -moz-linear-gradient(#648880, #293f50);
        background:         linear-gradient(#648880, #293f50);
      
      
}

div{
    border:1px solid;
    margin-left: 400px;
    margin-right:400px;
}


